<div class="sidebar">
  <ul class="sidebar-top">
    <li>
      <a href=""
        ><div class="circle">
          <span class="material-symbols-outlined"> person </span>
        </div></a
      >
    </li>

    <li>
      <a href="">
        <div class="circle">
          <span class="material-symbols-outlined"> email </span>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="circle">
          <span class="material-symbols-outlined"> edit </span>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="circle">
          <span class="material-symbols-outlined"> settings </span>
        </div>
      </a>
    </li>
  </ul>

  <hr />
  <div class="sidebar-down"></div>
</div>
